<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 style="font-size:24px">You've successfully genertaed Access Token!</h1>
    <p class="secret-text" style="font-size:18px; overflow-x: scroll; padding: 8px"><%= token %></p>
    <hr>

    <a class="btn btn-light btn-lg" href="#" role="button">Log Out</a>
  </div>
</div>

<%- include('partials/footer') %>
